// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;

$primary-color: #b993d6;
$secondary-color: #8ca6db;

$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.9rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
